
:root {
    /*//<------------------------------Headings fonts------------------------------------>*/
    --ff-heading-normal: "Freight_Text_Medium", serif;
    --ff-heading-bold: "Freight_Text_Bold", cursive;
    --ff-heading-light: "Freight_Text_Light", cursive;
    /*<------------------------------Body fonts------------------------------------>*/
    --ff-body-normal: "BasisGrotesquePro_Regular", serif;
    --ff-body-bold: "BasisGrotesquePro_Bold", cursive;
    --ff-body-light: "BasisGrotesquePro_Light", cursive;
    /*<------------------------------Sample Colors------------------------------------>*/
    /*--clr-primary-100: #9dace0;*/
    /*--clr-primary-200: #6d7db4;*/
    /*--clr-primary-300: #4f5c8d;*/
    /*--clr-primary-400: #2f3b64;*/
    /*--clr-primary-500: #131b3a;*/
    /*<------------------------------Marta Colors------------------------------------>*/
    --clr-primary-100: #f0ead2;
    --clr-primary-200: #dde5b6;
    --clr-primary-300: #adc178;
    --clr-primary-400: #a98467;
    --clr-primary-500: #6c584c;
    /*<------------------------------Marta Colors------------------------------------>*/

    --fs-base: 1rem;
    --clr-accent: #85ff9e;

    --clr-tertiary: #f148fb;
    --clr-tertiary-500: #662269;

    --clr-light: #fff;
    --clr-dark: #000;

    --clr-gradient: radial-gradient(var(--clr-tertiary-500),
    var(--clr-primary-400),
    var(--clr-primary-500));
}


@font-face {
    font-family: 'Freight_Text_Bold';
    src: local('MyFont'), url("/src/assets/font/Freight_Text_Bold.otf");
}

@font-face {
    font-family: 'Freight_Text_Medium';
    src: local('MyFont'), url("/src/assets/font/Freight Text Medium.otf");
}

@font-face {
    font-family: 'Freight_Text_Light';
    src: local('MyFont'), url("/src/assets/font/Freight Text Light.otf");
}

@font-face {
    font-family: 'BasisGrotesquePro_Light';
    src: local('MyFont'), url("/src/assets/font/BasisGrotesquePro-Light.ttf");
}

@font-face {
    font-family: 'BasisGrotesquePro_Bold';
    src: local('MyFont'), url("/src/assets/font/BasisGrotesquePro-Bold.ttf");
}

@font-face {
    font-family: 'BasisGrotesquePro_Regular';
    src: local('MyFont'), url("/src/assets/font/BasisGrotesquePro-Regular.ttf");
}
